body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.navbar {
  background-color: antiquewhite;
}

.navbar a {  
  margin-top: 30px;
  background-color: darkgray;
  border-color: black;
  color: red;
  margin: 50px;
  border-radius: 10px;
  border: darkviolet;
  border-width: 10px;

}

.homeImages {
  width: 100%;
  top: 40%;
}

.homeImages img {
  height: 300px;
  width: 300px;
}

.goals a {
  margin-top: 30px;
  background-color: darkgray;
  border-color: black;
  color: red;
  margin: 50px;
  border-radius: 10px;
  border: darkviolet;
  border-width: 10px;
}

.heading {
  background-color: salmon;
}

.form input {
  width: 100%
}


.bodyLink {
  padding: 10px;
}


.bodyLink a {
  color: red;
  color: slategrey;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.bodyLink a:hover {
  background-color: #555;
}